<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet"> 
    
    <!-- edit & Delete icons------------- -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/css/main.css">        
    <title>TODOApp | Home</title>
</head>
<body>
    <div class="container">
        <h1>TodoApp</h1>
        
        <!-- input field -->
        <div class="inputArea">
            <form action="/tasks" method="POST">
                <input type="text" name="title">
                <button type="submit" class="addTaskButton">Add Task</button>
            </form>
        </div>
        
        <div class="taskArea">
            <ul>
                
                <% for(let i = 0; i < tasks.length; i++){ %>
                <div class="individualtask">
                    
                    <!-- task text -->
                    <li class="taskText"><%= tasks[i].title %></li>
                
                    
                <div class="taskButtons"> 
                    
                    <!-- edit button -->
                    <a href="/edit/<%=tasks[i]._id%>"><button class="editButton  material-symbols-outlined">edit</button></a>
        
                    <!-- delete button -->
                    <form action="/tasks/<%= tasks[i]._id; %>?_method=DELETE"  method="POST">
                        <input type="submit" value="DELETE" class="material-symbols-outlined">
                    </form>

                </div>
            </div>
            <% } %>
           
            </ul>
        </div>
    </div>
</body>
</html>