<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/css/main.css">        
    <title>TODOApp | Home</title>
</head>
<body>
    <div class="container">
        <h1>TodoApp</h1>
        <!-- inpit field -->
        <div class="inputArea">
            <form action="/" method="post">
                <input type="text" name="title">
                <button type="submit" class="universalButton button-primary">Add Task</button>
            </form>
        </div>
        
        <div class="taskArea">
            <ul>
                <% for(let i = 0; i < tasks.length; i++){ %>
                    <li><%= tasks[i].title %></li>
                    <a href="/edit/<%=tasks[i]._id%>"><button class="universalButton button-primary">edit</button></a>
        
                    
                    <form action="/delete/<%=tasks[i]._id %>"  method="POST">
                        <input type="submit" value="DELETE" class="universalButton button-primary">
                    </form>
            <% } %>
            </ul>
        </div>
    </div>
</body>
</html>