<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/css/main.css">        
    <title>TODOApp | Home</title>
</head>
<body>
    <h1>TodoApp</h1>

    <form action="/" method="post">
        <input type="text" name="title">
        <button type="submit">Add Task</button>
    </form>
    
    <ul>
        <% for(let i = 0; i < tasks.length; i++){ %>
            <li><%= tasks[i].title %></li>
            <a href="/edit/<%=tasks[i]._id%>"><button>edit</button></a>

            
            <form action="/delete/<%=tasks[i]._id %>"  method="POST">
                <input type="submit" value="DELETE">
            </form>
    <% } %>
    </ul>
</body>
</html>