body{
    background-color: rgb(239, 241, 242);
    border: 5px solid red;
}
h1{
    border: 3px solid blue;
}

.container{
    text-align: center;
    border: 5px solid green;
    width: 400px;
}

.inputArea{
    border: 3px solid red;
}

.taskArea{
    border: 3px solid blue;
}

ul li{
    list-style: none;
}

